{% extends "base.html" %}
{% block title %}Info{% endblock %}
{% block main %}
    <div class="inforContainer">
        <!-- container met info over de makers en voor vragen-->
        <h4>Get your information here.</h4>
        <p>If you have any questions please contact us on the following data</p>
        <p>Phone number: <a href="tel:0031624984655">+31(0)624984655</a></p>
        <p>Email address: <a href="mailto:yadeacem@gmail.com" target="_blank"> yadeacem@gmail.com </a></p>
        <hr noshade="" size="3">
        <p>If used for own research please cite us</p>
        <hr noshade="" size="3">
        <p>Made by Yade Acem</p>
    </div>
    <!-- container met info over hoe de pagina werkt -->
{#    <div class="explanationContainer">#}
{#        <p>On the <a href="options">Options</a> page please fill in your name and your email.</p>#}
{#        <hr noshade="" size="3">#}
{#        <p>you'll get send an confirmed message if not pls try again</p>#}
{#    </div>#}

{% endblock %}